body {
    font-family: "Museo300";
    text-align: center;
    background: #f3f3f3 url(../dcc-new.jpg) no-repeat center bottom fixed;
    background-size: cover;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo700";
}

.pre-launch {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 40px;
}

.pre-launch h1 {
    color: #1f394d;
}

.pre-launch-desc {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #1f394d;
}

.pre-launch .clock {
	width: 460px;
	height: 116px;
	margin: 32px auto;
}

.pre-launch .flip-clock-divider .flip-clock-label {
	font-size: 16px;
    font-family: "Museo300";
    color: #1f394d;
}

.pre-launch .flip-clock-divider.seconds .flip-clock-label { right: -99px; }
.pre-launch .flip-clock-divider.minutes .flip-clock-label { right: -99px; }
.pre-launch .flip-clock-divider.hours .flip-clock-label { right: -90px; }

@media only screen and (max-width: 640px){
	.clock {
		transform: scale(0.75) translateX(0%);
	}
}

@media only screen and (max-width: 360px){
	.clock {
		transform: scale(0.5) translateX(50%);
        left: -50%;
	}
}

@media only screen and (max-width: 320px){
	.clock {
		transform: scale(0.5) translateX(25%);
        left: -45%;
	}
}